   
        <table>

            <th>属性</th>
            <th><%= key %></th>

        <% for(var i in val) {  %>
            <% if(i==0){ %>
            <tr><td>アドレス</td><td><%= val[i] %></td></tr>
            <% }else if(i==1){ %>
            <tr><td>電話番号</td><td><%= val[i] %></td></tr>
            <% }else if(i==2){ %>
            <tr><td>名前</td><td><%= val[i] %></td></tr>
            <% }  %>
        <% }  %>
        </table>

    