<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="contnt-type" content="text/html; charset=UTF-8">
    <title>Index</title>
    <link type="text/css" href="./style.css" rel="stylesheet">
</head>
<body>
    <head>
        <h1> <%= title %> </h1>
    </head>
    <div role="main">
        <p><%= content %></p>
        <form method='POST', action='/other'>
            <input type="text" name="msg">
            <input type="submit" value="Click">
        </form>
    </div>
</body>
</html>